@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiTooltip-tooltip {
	background-color: white !important;
	max-width: 500px !important;
	padding: 0px !important;
}

.MuiSelect-select {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	padding-left: 12px !important;
}
